* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.pageMargin{
  margin-left: 15vw;
  margin-right: 15vw;
}

.label{
  color: #fff;
  margin-top: 10px;
  font-size: 24px;
}