.tabs{
    background-color: #111111;
    color: floralwhite;
}

.tab{
    color: floralwhite;
}

.container {
    color: floralwhite;
    margin-top: 50px;
    background-color: floralwhite;
    padding: 10px;
}

.detail-description{
    color:floralwhite
}