.tabs{
    background-color: #111111;
    color: floralwhite;
}

.tab{
    color: floralwhite;
}

.container {
    color: #1f1f1f;
    margin-top: 50px;
    background-color: floralwhite;
    padding: 10px;
}

.detail-description{
    color:floralwhite
}
.user-profile{
    color: floralwhite;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.edit-button{
    
}

.edit-container {
    display: block;
    padding: 50px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
    background-color: #ede8dd;
    align-content: flex-end;
}

.file-list {
    list-style: square inside;
    display: block;
    align-items: center;
}

.label{
    margin-left: "auto";
    margin-right: "auto";
    text-align: "center";
    color: floralwhite;
}