.nav-menu{
    background: #2a2a2a;
    font-size: 1.2rem;
}


.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-links{
    color: white;
    font-size: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: dimgray;
    transition: all 0.2s ease-out;
}

.menu-icon {
    display: none;
}

.dropdown {
    
}